@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
.navigation-bar {
  background-color: #f8f5f0;
}
.navigation-icons span,
.logo,
.menu ol li,
.rating {
  color: #605d58;
}
.title h1,
.title-para {
  color: #373735;
  font-family: "Oswald";
}
.scrolling-button {
  border: 2px solid #373735;
}
.scrolling-button:hover {
  background-color: #373735;
  color: white;
}
.menu ol li {
  position: relative;
  font-family: "Lato";
}
.menu ol li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #605d58;
  border-radius: 20px;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.menu ol li:hover::before {
  width: 100%;
}
.guarantees {
  width: calc(100% - 276px);
  left: 272px;
  gap: 10px;
}
.guarantee {
  width: calc(100% / 4);
}
.guarantee-icon,
.guarantee-title {
  color: #373735;
  font-family: "Oswald";
}
.guarantee-description {
  color: #605d58;
  font-family: "Lato";
}
.add-to-cart-button {
  background-color: #a78364;
  &:hover {
    background-color: #987557;
  }
}
.product-price {
  color: #a78364;
  font-family: "Oswald";
}
.wishlist-button {
  right: -50px;
  transition: 0.3s ease;
}
.image-section:hover .wishlist-button {
  right: 8px;
}
.wishlist-button.active {
  color: red;
}
.categories {
  font-family: "Oswald";
}
.categories button.active {
  background-color: #a78364;
  color: white;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
.r-img.active {
  border: 2px solid red;
}
.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
}
.product-title-price {
  font-family: "Oswald";
}
.product-description {
  font-family: "Lato";
}
.rest-images {
  scrollbar-width: none;
}
.rest-images::-webkit-scrollbar {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap");
body {
  font-family: "cairo";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkout-form {
  border: 2px solid rgb(21 128 61);
  border-radius: 4px;
}
.full-form {
  width: 95%;
  gap: 8px;
}

.name-number,
.selectors,
.quantity-submit,
.order-summary {
  width: 100% !important;
  overflow: hidden;
}

.quantity-submit {
  height: 45px;
}

.selectors select {
  cursor: pointer;
  background-color: white;
}

.form label {
  font-weight: 600;
}

.form input,
#select_wilaya,
#select_commune,
.quantity {
  width: 100%;
  height: 45px;
  appearance: textfield;
  border-radius: 2px;
  outline: 0;
  border: 2px solid rgb(21 128 61);
  padding: 10px;
  font-size: 16px;
}
.fields {
  width: 100%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18p;
}
#submit {
  width: 75%;
  cursor: pointer;
}
.quantity {
  width: 25% !important;
}

.quantity button {
  width: 25%;
  /* border: 2px solid rgb(21 128 61); */
}

@media (max-width: 712px) {
  .name-number,
  .selectors,
  .livraison_tarif {
    flex-direction: column;
  }
  .name-number div,
  .selectors .fields,
  .livraison_tarif div {
    width: 100% !important;
  }
  .checkout-form {
    width: 100vw !important;
  }
}

.label {
  float: right;
}

.order-summary {
  background-color: #ebf1f0;
}
.summary {
  height: 50px;
  cursor: pointer;
  border-bottom: 2px solid #333;
}
.arrow,
.cart-shopping {
  color: #6fa2d0;
}
.order-details {
  width: 100%;
}
.details-row {
  align-self: end;
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-row h3:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
}
.active {
  height: 0;
}
